.card {
  position: relative;
  padding: 1rem;

  cursor: pointer;
}

.card-image {
  height: 230px;
  width: 100%;
  transform: translate(0, -1.5rem);
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
  filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
  z-index: 1000;
}
.card-info {
  text-align: center;
}

.card:hover .card-image .img-one {
  transition: transform 500ms ease-in-out;
  transform: translate(3.5rem, -5rem) translate3d(1rem, 2rem, 0) rotateX(30deg)
    perspective(1000px) rotateY(10deg);
  opacity: 1;
}

.card:hover .card-image .img-two {
  transition: transform 500ms ease-in-out;
  transform: translate(-4rem, -5rem) translate3d(1rem, 2rem, 0) rotateX(-30deg)
    perspective(1000px) rotateY(30deg);
  filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
}

.card-image .img-one,
.card-image .img-two {
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out; /* Same transition for when hover ends */
}

.card-image .img-one {
  opacity: 0;
}
.card-image .single-image {
  transition: transform 230ms ease-in-out, opacity 500ms ease-in-out; /* Same transition for when hover ends */
}
.card:hover .card-image .single-image {
  transition: transform 230ms ease-in-out;
  transform: rotate(10deg) scale(1.3);
}

/* figure {
  margin: 0;

  position: relative;
  overflow: hidden;
}

figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, 0.5);
  transform-origin: center;
  opacity: 0;
  transform: scale(2);
  transition: opacity 300ms;
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
  z-index: 1;
  opacity: 0;
  transition: opacity 600ms, transform 600ms;
}

.project:is(:hover, :focus) figure::after {
  opacity: 1;
}

.project:is(:hover, :focus) figcaption {
  opacity: 1;
  transition: opacity 600ms;
} */

.allCard:hover img {
  transform: scale(1.1); /* Smooth scaling */
  transition: transform 0.3s ease-in-out; /* Adjust duration and easing */
}

.allCard img {
  transition: transform 0.3s ease-in-out; /* Ensures the initial state is smooth */
}
